!!! 5
html
  head
    title  
    link(rel='stylesheet', href='game/css/style.css')
  body
    header
      h1#gameTitle 	
    #racletteGame
      #racletteGui
      //
         La div qui va contenir le jeu 
    footer#footer
    script(type='text/javascript', src='Raclette/require.js')
    script(type='text/javascript')
      window.poney = "Raclette/Game";
      require(["Raclette/main"], function(main) {});
